@font-face {
    font-family: 'ELAND_Choice_M';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_M.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BMfont";
    src: url("../baemin/fonts/BMDOHYEON_ttf.ttf");
}

body{
    margin: 0;
    background-color: #fafafa;
    background-position:center bottom;
    background-repeat:no-repeat;
}

.app_download{
    position: fixed;
    margin-top: 350px;
    margin-left: 900px;
    width: 200px;
    z-index: 10000;
}

.download_page{
    position: fixed; /*scrolling does not affect this div*/
    bottom: 0;
    z-index: 2;
    margin: 0;
    display:none;
    width: 100%;
    height:500px;
    background:rgb(238, 238, 238);
    justify-content: center;
}

.close_page{
    margin: 0;
    display: flex;
    justify-content: center;
}

.close_navbar{
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    justify-content: space-around;
    font-family: "bmFont";
    color: rgb(63, 63, 63);
    font-size: 23px;
}

.hello{
    position: absolute;
    margin-left: 500px;
    margin-top: 165px;
    width: 70px;
    height: 70px;
    bottom: 0;
}

.close_titleAndButton{
    display: flex;
    justify-content: space-evenly;
    width: 800px;
}
.closeIcon{
    /* position: absolute;
    margin-top: -400px;
    margin-left: 700px; */
    margin: 0;
    display: flex;
    width: 30px;
    height: 30px;
}

.emailBox{
    display: flex;
    border-radius: 40px;
    align-items: center;
    border: none;
    margin-left: 50px;
    width: 500px;
    height: 60px;
    justify-content: space-between;
    padding-right: 10px;
    background-color: white;
}

.email{
    border-radius: 40px;
    border: none;
    padding: 20px;
    width: 500px;
    height: 15px;
    font-family: 'ELAND_Choice_M';
    font-size: 17px;
}

.email::placeholder{
    color:rgb(177, 177, 177);
}



.checkButton{
    display: flex;
    align-items: center;
}

#checkButton{
    width: 20px;
    height: 20px;
}

.checkbox_txt{
    margin-left: 5px;
    font-size: 17px;
    font-family: 'ELAND_Choice_M';
}

.warning{
    font-size: 13px;
    font-family: 'ELAND_Choice_M';
}


.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 0;
    background-color: #2AC1BC;
}

.logoAndSearchBar{
    display: flex;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.logo_img{
    /* border-width: 2px;
    border-style: solid;
    border-color: fuchsia; */
    padding-right: 5px;
    align-items: flex-start;
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 0;
}

.logo_text{
    width: 120px;
    font-family: 'BMfont';
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0;
}

.logo_text a{
    /* font-family: "BMfont"; */
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    text-decoration: none;
    text-align: center;
    color:#ffffff;
}

.searchBarBox{
    display: flex;
    align-items: center;
    border: none;
    margin-left: 50px;
    width: 400px;
    height: 30px;
    background-color: white;
    border-radius: 7px;
}

.searchBar{
    border: none;
    width: 350px;
    height: 20px;
    margin-left: 10px;
    font-family: 'ELAND_Choice_M';
    font-size: 12px;
}

.searchBar_btn{
    text-align: center;
    background-color: transparent;
    font-size: 20px;
    width: 30px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    color: #8f8f8f;
}


/* .navbar1{
    display: flex; 한줄에 나란히 들어오게
    justify-content: space-between; /*중간에 공간 넣기
    align-items: center; /*높이의 중간에 맞추기
    padding: 5px 12px; /*너무 모서리에 붙어있지 않게
} */

.my_items{
    display: flex;
    justify-content: flex-end;
    /* background-color: blue; */
}

.whole_navbar{
    position: -webkit-sticky; /*safari에서도 작동하게*/
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar1_items{
    font-family: 'ELAND_Choice_M';
    justify-content: center; /*item들 오른쪽으로 붙이기*/
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    list-style: none;
    /* background-color: greenyellow; */
}

.navbar1_items a{
    font-size: 0.8em;
    text-decoration: none;
    color:#ffffff;
    text-align: center;
}

.navbar1_items li{
    padding: 5px 8px;
}

.navbar1_toggleBtn{
    display: none;
    position: absolute;
    right:50px;
    top: 15px;
    font-size: 20px;
    color:#ffffff;
}

.navbar2{
    display: flex; 
    justify-content: center;  /*가로축 가운데 정렬. justify-content:space-between하면 사이에 공간만 생김*/
    background-color: white;
    align-items: center;
}

.navbar2_items{
    /* justify-content: space-evenly; */
    width: 100%;
    height: 40px;
    display: flex;
    list-style: none;
    font-family: 'ELAND_Choice_M';
}

.navbar2_items a{
    color:#226461;
    text-decoration: none;
}
/* .navbar2_items li{
    /* padding: 0px 10px; 
} 
*/

.navbar2_items li:hover a{
    color:#000000;
}

.menu li{
    align-items: center;
}


.menu{
    /* display: flex; */
    /* border: 2px solid blue; */
    height: 30px;
    margin-top: 5px;
    padding: 7px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 25%;
    text-align: center;
    background: white;
}



.menu a{
    font-family: 'ELAND_Choice_M';
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
}

.menu::after{
    margin-top: 10px;
    content:'';
    display: block;
    left:0;
    bottom: 0;
    width: 0;
    height: 4px; /*선의 굵기*/
    background: #2AC1BC;
    transition: width .3s
}

.menu:hover::after{
    margin-top: 10px;
    width: 100%;
    transition:width .3s;
}

.english{
    display: none;
}

img{
    display: block;
    margin: 0 auto;
    transition: 1s;
}

<!--슬라이더-->

.slider{/*전체 슬라이더의 크기*/
    width: 100%; 
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slides{
    /* margin-left: 100px; */
    background-color: rgb(255, 255, 255);
    width:1150px; /*(1050+50)*/
    overflow:hidden;
    display:flex;
}

.slides input{
    display: none;
}

.slide{ /*안에있는이미지*/
    /* width: 100%; */
    transition: 3s; /*클릭한 이미지로 이동하는데 걸리는 시간*/
    justify-content: space-between;
}

.slide img{
    height: 470px; /*슬라이드 안에 있는 이미지 자체*/
    width: 1050px;
    margin-left: 50px;
    margin-right: 50px;
}

.navigation-manual{
    /* background-color: cornflowerblue; 밑에 4버튼 박스 */
    margin-left: 50px;
    position: absolute;
    width: 1050px;
    display: flex;
    justify-content: center;
    margin-top: -35px;
}

.manual-btn{
    width: 3px;
    height: 3px;
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s; /*버튼을 hover 했을 때 걸리는 시간*/
}

.manual-btn:not(:last-child){
    margin-right: 15px;
}

.manual-btn:hover{
    background: #2AC1BC;
}

#radio1:checked ~ .first{
    margin-left:0;
}
#radio2:checked ~ .first{
    margin-left: -100%;
}
#radio3:checked ~ .first{
    margin-left: -200%;
}
#radio4:checked ~ .first{
    margin-left: -300%;
}

/*css for automatic animation*/
.navigation-auto{
    position: absolute;
    display: flex;
    width: 1150px;
    justify-content: center;
    margin-top: 395px ;
}

.navigation-auto div{
    width: 3px;
    height: 3px;
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 15px;
    transition: 0s; /*버튼 이미지들이 애니메이션으로 보여지는 시간*/
    margin-top: 40px;
}

.navigation-auto div:not(:last-child){
    margin-right: 15px;
}

#radio1:checked ~.navigation-auto .auto-btn1{
    background: #2AC1BC;
}
#radio2:checked ~.navigation-auto .auto-btn2{
    background: #2AC1BC;
}
#radio3:checked ~.navigation-auto .auto-btn3{
    background: #2AC1BC;
}
#radio4:checked ~.navigation-auto .auto-btn4{
    background: #2AC1BC;
}

.slideAndMenu{
    justify-content: center;
    align-items: center;
    /* border-width: 2px;
    border-style: solid;
    border-color: fuchsia; */
    display: flex;
}
.menu_icon{
    width:50px;
    height:50px;
}

.food_table{
    justify-content: space-around;
    background-color: white;
    align-items: center;
    position: absolute;
    display: none;
    width: 99%;
    left: 0;
    margin: 0;
    z-index: 1;
}

.order:hover .food_table{
    margin-top: 15px;
    display: flex;
}

.pickup:hover .food_table{
    margin-top: 15px;
    display: flex;
}


.food_category{
    display:flex;
    width: 100%;
    height: 100px;
    font-family: 'ELAND_Choice_M';
    justify-content: center; 
    align-content: center;
    background-color: white;
}

.table_wid{
    width: 100px;
    text-align: center;
}

.food_category a{
    text-decoration: none;
    color: #535353;
    font-family: BMfont;
    font-size: 0.7em;
}

.food_category li{
    justify-content: space-around;
}

.orderLabel{
    margin-left: 50px;
    display: flex;
    align-items: center;
    font-family: 'ELAND_Choice_M';
}

.deal_title{
    height: 70px;
    margin-top: 20px;
    padding-left: 30px;
    display: flex;
    align-items: center;
    font-family: 'ELAND_Choice_M';
    text-decoration: none;
    font-size: 1.7em;
}

.deal_title a{
    text-decoration: none;
    color:rgb(61, 61, 61);
}

.deal_img{
    margin-left: 5px;
    align-items: center;
    width: 50px;
    height: 50px;
    justify-content: center;
    margin: 0;
}

.deal{
    display: flex;
    margin: 0;
    justify-content: space-evenly;
}

.deal_table{
    display: flex;    
    width: 90%;
    margin: 0;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.deal_table_row{
    margin: auto;
    justify-content:end;
}

.table23{
    display: flex;
    justify-content: center;
}


.one_box{
    justify-content: center;
    display: column;
}

.card{
    width: 311px;
    height: 260px;
    border-radius: 40px;
    justify-content: space-between;
    margin-bottom: 30px;
    box-shadow:5px 5px 10px rgb(204, 204, 204);
    
}


.deal_table_img{
    border-radius: 40px 40px 0 0;
    transition: .3 ease;
    backface-visibility: hidden;
}

.middle{
    display: flex;
    width: 311px;
    height: 170px;
    border-radius: 40px 40px 0px 0px;
    position: absolute; 
    background: rgba(121, 121, 121, 0.5);
    color: #acacac; 
    transition: .5s ease;
    opacity:0;
    color: white;
    padding-bottom: 10px;
    font-size: 20px;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    font-family: "bmfont";
}

/* .container{
    display:flex;
    justify-content: center;
} */

.container:hover .middle{
    opacity: 10000;

}

.deal_table_img{
    width: 300px;
    padding: 5px;
    justify-content: space-around;
    display: flex;
}


.deal_table_title{
    margin: auto;
    padding: 10px;
    justify-content: center;
    width: 300px;
    height: 80px;
    display: block;
    font-family: 'ELAND_Choice_M';
    text-decoration: none;
    font-size: 1em;
    color:rgb(61, 61, 61);
}

.readMore{
    display: flex;
    justify-content: center;
}

.more_sale{
    color: #ffffff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    font-size: 80px;
    background-color: #2AC1BC;
    border: none;
}

.notice1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notice_card{
    align-items: center;
    display: flex;
    width: 80%;
    /* border: 2px solid green; */
    justify-content: space-between;
    height: 100px;
}


#notice_body1, #notice_body2, #notice_body3, #notice_body4, #notice_body5{
    margin: 10px;
    width: 70%;
}

.notice_info{
    flex-direction: column;
    /* border: 2px solid brown; */
}

.notice_title{
    font-family: 'ELAND_Choice_M';
    font-size: 1.2em;
}

.notice_date{
    color: grey;
}

.notice_go{
    /* border: 2px solid black; */
    font-size: 2em;
    color: grey;
}

.line{
    border-bottom: 2px solid rgb(202, 202, 202);
    width: 90%;
}

/* 반응형: 창이 한 번 작아졌을때 */

@media screen and (max-width: 935px) and (min-width: 700px){
    .close_titleAndButton{
        display: flex;
        width: 600px;
        justify-content: space-between;
    }

    .close_title{
        width: 400px;
    }

    .whole_navbar{
        flex-direction: column;
        justify-content: center;
    }

    .navbar{
        flex-direction: column;
    }

    .logo{
        justify-content: center;
        display: flex;
    }


    .searchBarBox{
        width: 300px;
    }

    .searchBar_btn{
        margin-right: 10px;
    }

    .navbar1_items{
        display: none;
    }

    .navbar1_toggleBtn{
        display: block; /*원래는 display가 none이지만 크기가 작아졌을때만 나타나게*/
    }

    .navbar2{
        display: flex;
        background-color: white;
    }

    .navbar2_items{
        display: none;
    }

    .english{
        display: block;
    }

    .navbar2_items.active{
        display: flex;
        height: 270px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .navbar1_items.active{
        font-family: 'ELAND_Choice_M';
        justify-content: center; /*item들 오른쪽으로 붙이기*/
        flex-direction: column;
        display: flex;
        /* flex-flow: row nowrap; */
        list-style: none;
        padding-right: 100px;
        /* background-color: greenyellow; */
    }

    .info{
        height: 400px;
    }
}

/* 반응형: 창의 크기가 가장 작아졌을때 */
@media screen and (max-width: 700px){
    .close_titleAndButton{
        display: flex;
        width: 400px;
    }

    .closeIcon{
        margin: 0;
        width: 30px;
        height: 30px;
    }

    .close_title{
        margin: 0;
        width: 200px;
    }

    .emailBox{
        width: 350px;
    }

    .whole_navbar{
        flex-direction: column;
        justify-content: center;
    }

    .navbar{
        flex-direction: column;
        justify-content: space-evenly;
        height: 100px;
    }

    .logo{
        justify-content: center;
        display: flex;
    }


    .logoAndSearchBar{
        flex-direction: column;
    }

    .searchBarBox{
        width: 300px;
    }

    .searchBar_btn{
        margin-right: 10px;
    }

    .navbar1_items{
        display: none;
    }

    .navbar1_toggleBtn{
        display: block; /*원래는 display가 none이지만 크기가 작아졌을때만 나타나게*/
    }

    .navbar2{
        display: flex;
        background-color: white;
    }

    .english{
        display: block;
    }

    .navbar2_items{
        display: none;
        height: 250px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .navbar2_items.active{
        display: flex;
        height: 250px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .navbar1_items.active{
        font-family: 'ELAND_Choice_M';
        justify-content: center; /*item들 오른쪽으로 붙이기*/
        flex-direction: column;
        display: flex;
        /* flex-flow: row nowrap; */
        list-style: none;
        padding-right: 100px;
        /* background-color: greenyellow; */
    }

    .info{
        flex-direction: column;
        height: 700px;
    }
}

/* 다운로드앱만 쓰기 다른거 여기 쓰지않기 */
@media screen and (max-width: 1200px){
    .app_download{
        position: fixed;
        margin-top: 5px;
        margin-left: 10px;
        width: 80px;
        z-index: 10000;
    }
}

/* 다운로드 창 반응형으로 만들기
@media screen and (max-width: 1000px){
    .closeIcon{
        width: 30px;
        height: 30px;
    }
} */



.info{
    font-family: 'ELAND_Choice_M';
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #9c9c9c;
    /* height: 500px; */
    list-style: none;
}

.info_logo{
    font-family: "BMfont";
    margin-left: -50px;
    align-items: center;
    width: 300px;
}

.info_logo a{
    font-size: 3em;
    text-decoration: none;
    list-style: none;
    color:#ffffff;
}

.info_logo2{
    font-family: "BMfont";
    margin-left: -50px;
    margin-top: 20px;
    align-items: center;
    width: 300px;
}

.info_logo2 a{
    font-size: 20px;
    text-decoration: none;
    list-style: none;
    color:#ffffff;
}

.address1{
    margin-top: 100px;
}

.address1 a{
    font-family: 'ELAND_Choice_M';
    font-size: 1em;
    text-decoration: none;
    list-style: none;
    color:#ffffff;
}

.address2, .address3{
    margin-top: 30px;
}

.address4{
    justify-content: space-between;
    margin-top: 30px;
    display: flex;
    width: 150px;
}

.address2 a, .address3 a{
    font-family: 'ELAND_Choice_M';
    font-size: 1em;
    text-decoration: none;
    list-style: none;
    color:#ffffff;
}

.address4 a{
    font-size: 2.5em;
    text-decoration: none;
    list-style: none;
    color:#ffffff;
}