@font-face {
    font-family: 'ELAND_Choice_M';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_M.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BMfont";
    src: url("../baemin/fonts/BMDOHYEON_ttf.ttf");
}

body{
    margin: 0;
    background-color: #fafafa;
    background-position:center bottom;
    background-repeat:no-repeat;
}

.app_download{
    position: fixed;
    margin-top: 150px;
    margin-left: 900px;
    width: 200px;
    z-index: 1;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    background-color: #2AC1BC;
}
.logoAndSearchBar{
    display: flex;
    align-items: center;
}

.logo{
    margin-left: 150px;
    display: flex;
    align-items: center;
}

.logo_img{
    /* border-width: 2px;
    border-style: solid;
    border-color: fuchsia; */
    padding-right: 5px;
    align-items: flex-start;
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 0;
}

.logo_text{
    font-family: 'BMfont';
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0;
}

.logo_text a{
    /* font-family: "BMfont"; */
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    text-decoration: none;
    text-align: center;
    color:#ffffff;
}

.searchBarBox{
    display: flex;
    align-items: center;
    border: none;
    margin-left: 50px;
    width: 400px;
    height: 30px;
    background-color: white;
    border-radius: 7px;
}

.searchBar{
    border: none;
    width: 350px;
    height: 20px;
    margin-left: 10px;
    font-family: 'ELAND_Choice_M';
    font-size: 12px;
}

.searchBar_btn{
    text-align: center;
    background-color: transparent;
    font-size: 20px;
    width: 30px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    color: #8f8f8f;
}


/* .navbar1{
    display: flex; 한줄에 나란히 들어오게
    justify-content: space-between; /*중간에 공간 넣기
    align-items: center; /*높이의 중간에 맞추기
    padding: 5px 12px; /*너무 모서리에 붙어있지 않게
} */

.my_items{
    display: flex;
    justify-content: flex-end;
    /* background-color: blue; */
}

.navbar1_items{
    font-family: 'ELAND_Choice_M';
    justify-content: center; /*item들 오른쪽으로 붙이기*/
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    list-style: none;
    margin-right: 150px;
    /* background-color: greenyellow; */
}

.navbar1_items a{
    font-size: 0.8em;
    text-decoration: none;
    color:#ffffff;
    text-align: center;
}

.navbar1_items li{
    padding: 5px 8px;
}

.navbar1_toggleBtn{
    display: none;
    position: absolute;
    right:50px;
    top: 15px;
    font-size: 20px;
    color:#ffffff;
}

.navbar2{
    display: flex; 
    justify-content: center;  /*가로축 가운데 정렬. justify-content:space-between하면 사이에 공간만 생김*/
    background-color: white;
    height: 50px;
}

.navbar2_items{
    /* justify-content: space-evenly; */
    width: 100%;
    height: 40px;
    display: flex;
    list-style: none;
    font-family: 'ELAND_Choice_M';
}

.navbar2_items a{
    color:#226461;
    text-decoration: none;
}
.navbar2_items li{
    /* padding: 0px 10px; */
}

.navbar2_items li:hover a{
    color:#000000;
}

.menu li{
    align-items: center;
}


.menu{
    /* display: flex; */
    margin-top: 13px;;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 25%;
    text-align: center;
}



.menu a{
    font-family: 'ELAND_Choice_M';
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
}

.menu::after{
    margin-top: 10px;
    content:'';
    display: block;
    left:0;
    bottom: 0;
    width: 0;
    height: 4px; /*선의 굵기*/
    background: #2AC1BC;
    transition: width .3s
}

.menu:hover::after{
    margin-top: 10px;
    width: 100%;
    transition:width .3s;
}


img{
    display: block;
    margin: 0 auto;
    transition: 1s;
}

<!--슬라이더-->

.slider{/*전체 슬라이더의 크기*/
    /* width: 100%;  */
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slides{
    /* margin-left: 100px; */
    background-color: rgb(255, 255, 255);
    width:1150px; /*(1050+50)*/
    overflow:hidden;
    display:flex;
}

.slides input{
    display: none;
}

.slide{ /*안에있는이미지*/
    /* width: 100%; */
    transition: 3s; /*클릭한 이미지로 이동하는데 걸리는 시간*/
    justify-content: space-between;
}

.slide img{
    height: 470px; /*슬라이드 안에 있는 이미지 자체*/
    width: 1050px;
    margin-left: 50px;
    margin-right: 50px;
}

.navigation-manual{
    /* background-color: cornflowerblue; 밑에 4버튼 박스 */
    margin-left: 50px;
    position: absolute;
    width: 1050px;
    display: flex;
    justify-content: center;
    margin-top: -35px;
}

.manual-btn{
    width: 3px;
    height: 3px;
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s; /*버튼을 hover 했을 때 걸리는 시간*/
}

.manual-btn:not(:last-child){
    margin-right: 15px;
}

.manual-btn:hover{
    background: #2AC1BC;
}

#radio1:checked ~ .first{
    margin-left:0;
}
#radio2:checked ~ .first{
    margin-left: -100%;
}
#radio3:checked ~ .first{
    margin-left: -200%;
}
#radio4:checked ~ .first{
    margin-left: -300%;
}

/*css for automatic animation*/
.navigation-auto{
    position: absolute;
    display: flex;
    width: 1150px;
    justify-content: center;
    margin-top: 395px ;
}

.navigation-auto div{
    width: 3px;
    height: 3px;
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 15px;
    transition: 0s; /*버튼 이미지들이 애니메이션으로 보여지는 시간*/
    margin-top: 40px;
}

.navigation-auto div:not(:last-child){
    margin-right: 15px;
}

#radio1:checked ~.navigation-auto .auto-btn1{
    background: #2AC1BC;
}
#radio2:checked ~.navigation-auto .auto-btn2{
    background: #2AC1BC;
}
#radio3:checked ~.navigation-auto .auto-btn3{
    background: #2AC1BC;
}
#radio4:checked ~.navigation-auto .auto-btn4{
    background: #2AC1BC;
}

.slideAndMenu{
    justify-content: center;
    align-items: center;
    /* border-width: 2px;
    border-style: solid;
    border-color: fuchsia; */
    display: flex;
}
.menu_icon{
    width:50px;
    height:50px;
}

.food_table{
    justify-content: space-around;
    background-color: white;
    align-items: center;
    position: absolute;
    display: none;
    width: 99%;
    left: 0;
    margin: 0;
    z-index: 1;
}

.order:hover .food_table{
    margin-top: 15px;
    display: flex;
}

.pickup:hover .food_table{
    margin-top: 15px;
    display: flex;
}


.food_category{
    display:flex;
    width: 100%;
    height: 100px;
    font-family: 'ELAND_Choice_M';
    justify-content: center; 
    align-content: center;
    background-color: white;
}

.table_wid{
    width: 100px;
    text-align: center;
}

.food_category a{
    text-decoration: none;
    color: #535353;
    font-family: BMfont;
    font-size: 0.7em;
}

.food_category li{
    justify-content: space-around;
}

.orderLabel{
    margin-left: 50px;
    display: flex;
    align-items: center;
    font-family: 'ELAND_Choice_M';
}

.deal_title{
    height: 70px;
    margin: auto;
    padding-left: 30px;
    display: flex;
    align-items: center;
    font-family: 'ELAND_Choice_M';
    text-decoration: none;
    font-size: 1.5em;
}

.deal_title a{
    text-decoration: none;
    color:rgb(61, 61, 61);
}

.deal_img{
    margin-left: 5px;
    align-items: center;
    width: 50px;
    height: 50px;
    justify-content: center;
    margin: 0;
}

.deal_table{
    margin: 0;
    align-items: center;
    display: flex;    
    justify-content: center;
}


.deal_of_the_day{
    width: 100%;
    margin: 0;
}

.deal_table_row{
    margin: auto;
    justify-content:end;
}

#deal_table2{
    margin: 0;
    align-items: center;
    display: none;    
    justify-content: center;
}

#deal_table3{
    margin: 0;
    align-items: center;
    display: none;    
    justify-content: center;
}




.one_box{
    justify-content: center;
    display: column;
}

.card{
    border-radius: 40px;
    justify-content: space-between;
    margin-bottom: 30px;
    box-shadow:5px 5px 10px rgb(182, 182, 182);
    
}


.deal_table_img{
    border-radius: 40px 40px 0 0;
    transition: .3 ease;
    backface-visibility: hidden;
}

.middle{
    display: flex;
    width: 200px;
    height: 155px;
    border-radius: 40px 40px 40px 40px;
    position: absolute; 
    background: rgba(121, 121, 121, 0.5);
    color: #acacac; 
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "bmfont";
}


.container:hover .middle{
    opacity: 1;

}

.deal_table{
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-around;
}

.deal_table_img{
    width: 300px;
    justify-content: space-around;
    display: flex;
}


.deal_table_title{
    margin: auto;
    padding-top: 3px;
    justify-content: center;
    width: 300px;
    height: 80px;
    display: block;
    font-family: 'ELAND_Choice_M';
    text-decoration: none;
    font-size: 1em;
    color:rgb(61, 61, 61);
}

.readMore{
    display: flex;
    justify-content: center;
}

.more_sale{
    color: #ffffff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    font-size: 80px;
    background-color: #2AC1BC;
    border: none;
}





@media screen and (max-width: 935px){
    .navbar1{
        flex-direction: column;
        justify-content: center;
    }
    .logo{
        justify-content: center;
    }
    .navbar1_items{
        display: none;
        /* flex-direction: column; */
    }
    .navbar1_toggleBtn{
        display: block; /*원래는 display가 none이지만 크기가 작아졌을때만 나타나게*/
    }
    .navbar2{
        flex-direction: column;
    }
    .navbar2_items{
        flex-direction: column;
    }
    .navbar1_items.active{
        font-family: 'ELAND_Choice_M';
        justify-content: center; /*item들 오른쪽으로 붙이기*/
        display: flex;
        flex-flow: row nowrap;
        list-style: none;
        padding-right: 100px;
        /* background-color: greenyellow; */
    }
}


.info{
    font-family: 'ELAND_Choice_M';
    display: flex;
    justify-content: space-around;
    background-color: #9c9c9c;
    height: 500px;
    list-style: none;
}

.info_logo{
    font-family: "BMfont";
    margin-left: -50px;
    margin-top: 100px;
    align-items: center;
    width: 300px;
}

.info_logo a{
    font-size: 3em;
    text-decoration: none;
    list-style: none;
    color:#ffffff;
}

.info_logo2{
    font-family: "BMfont";
    margin-left: -50px;
    margin-top: 20px;
    align-items: center;
    width: 300px;
}

.info_logo2 a{
    font-size: 20px;
    text-decoration: none;
    list-style: none;
    color:#ffffff;
}

.address1{
    margin-top: 100px;
}

.address1 a{
    font-family: 'ELAND_Choice_M';
    font-size: 1em;
    text-decoration: none;
    list-style: none;
    color:#ffffff;
}

.address2, .address3{
    margin-top: 30px;
}

.address4{
    justify-content: space-between;
    margin-top: 30px;
    display: flex;
    width: 150px;
}

.address2 a, .address3 a{
    font-family: 'ELAND_Choice_M';
    font-size: 1em;
    text-decoration: none;
    list-style: none;
    color:#ffffff;
}

.address4 a{
    font-size: 2.5em;
    text-decoration: none;
    list-style: none;
    color:#ffffff;
}